</!DOCTYPE html>
<html>
<head>
	<title>Home | Ruby on Rails tutorial sample app</title>
</head>
<body>
	<div class="center hero-unit" id = "centerapp">
		<h1>
			<br>
			Welcome to the Sample App
		</h1>
		<h2>
			This is the home page for the
			<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
			sample application.
		</h2>
		<p>
			<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
			<br>
			<br>
			<br>
		</p>
	</div>
	<p>
		<img alt = "Rails" src="/assets/rails.png"/ style="height:65px;width:50px">
	</p>
</body>
</html>
